.accordian{
  display: none;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 0;

  .accordianHead{
    line-height: 60px;
    display: flex;

    h3{
      flex-grow: 2;
      margin-top: 10px;
    }

    div{
      border-left: 1px solid lightgrey;
      width: 15%;
      text-align: center;
      color: black !important;
    }

    &:hover{
      cursor: pointer;
      background: #0a5fa3 !important;
      color: white !important;

      &>div{
        background: lightgrey !important;
      }
    }
  }

  .info{
    padding: 20px;

    .flex{
      margin-bottom: 70px;

      img{ float: left; }

      a{ float: right; }
    }
  }
}

@media only screen and(max-width: 942px){
  .accordian{
    display: block;
  }
}
