@import '../variables.scss';

#education{
  padding: $pd;
  background: $bg-grey;

  .vertical-timeline.vertical-timeline--two-columns:before{
    left: 50%;
    margin-left: -2px;
  }
  .vertical-timeline-element-icon{
    padding-top: 10px;
    text-align: center;

    i{
      font-size: 20px;
    }
  }
}
