@import "../variables.scss";

#portfolio{
  padding: $pd;

  .loader{
    text-align: center;
    padding-top: 80px;
    width: 100%;
  }

  .codepen-img{
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }

  .live-icon{
    position: fixed;
    right: 0;
  }
}

@media only screen and(max-width: 942px){
  .card{
    display: none;
  }
}
