@import "../variables.scss";

#portfolio{
  padding: $pd;

  .loader{
    text-align: center;
    padding-top: 80px;
  }

  .codepen-img{
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
}
