@import "../variables.scss";

.about{
  padding: $pd;

  .flex-container{
    display: flex;

    .box{
      text-align: center;
      width: 45%;
      height: 120px;
      -webkit-box-shadow: 0px 3px 12px -8px rgba(0,0,0,0.76);
      -moz-box-shadow: 0px 3px 12px -8px rgba(0,0,0,0.76);
      box-shadow: 0px 3px 12px -8px rgba(0,0,0,0.76);

      i{ font-size: 30px; margin-top: 20px; }
    }
    .one{
      border-bottom: purple 5px solid;
      left: 20px;
      margin-bottom: 10px;

      i{ color: purple; }
    }
    .two{
      border-bottom: orange 5px solid;
      right: 20px;
      margin-left: 60px;
      margin-bottom: 10px;

      i { color: orange; }
    }
  }

}
