@import "../variables.scss";
$marg: 20px;

#contact{
  padding: $pd;

  .flex-container{
    display: flex;

      div{
        display: flex;
        margin-top: 30px;
        margin-left: 160px;

        i{
          font-size: 40px;
          background: $bg-grey;
          width: 100px;
          height: 100px;
          text-align: center;
          padding-top: 30px;
        }

        p{
          margin-left: 20px;
          padding-top: 40px;
          font-size: 15px;
        }
      }
  }
}

@media (max-width: 1125px){
  #contact{
    .flex-container{
      display: block;

      div{
        margin-left: 10px;
      }
    }
  }
}
