.livepanel{

  .icon{
    position: fixed;
    left: 20px;
    height: 20px;
    width: 20px;
    font-size: 30px;

    &:hover{
      cursor: pointer;
    }
  }
  .bars{
    top: 20px;
  }
  .home{
    bottom: 40px;

    a{
      color: black;
    }
  }

  .panel{
    position: fixed;
    left: 0;
    height: 100vh;
    width: 220px;

    ul{
      list-style: none;
      margin-top: 100px;
      padding: 0;

      a{
        color: #345E99;

        li{
          padding: 0 0 0 20px;
          height: 40px;
          line-height: 40px;
          font-weight: 500;

          &:hover{
            background: #345E99;
            cursor: pointer;
          }
        }

        &:hover{
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .body{
    width: 50%;
    margin: 50px auto;
    overflow: hidden;

    .livePanels{
      img{
        margin: auto;
        width: 800px;
        height: 800px;
      }
    }
  }
}

@media (max-width: 1100px){
  .livepanel{
    .panel{
      display: none !important;
    }

    .bars{
      display: none;
    }

    .home{
      top: 20px;
    }

    .body{
      margin: 80px 20px;
    }
  }
}

@media (max-width: 680px){
  .livepanel{
    .body{
      margin: 80px auto 0 auto;
      width: 90%;

      .livePanels{
        img{
          width: 100%;
          height: 90%;
        }
      }
    }
  }
}

@media (max-height: 680px){
  .livepanel{
    .body{
      margin: 80px auto 0 auto;
      width: 95%;

      .livePanels{
        img{
          width: 100%;
          height: 90%;
        }
      }
    }
  }
}