.live-main{
  
  .navbar-nav{
    flex-direction: inherit;

    .nav-item{
      margin-left: 10px;

      .nav-link{
        &:hover{
          color: black;
        }
      }
    }
  }

}

@media (max-width: 680px){
  .live-main{
    margin-bottom: 30px;
  }
}