.formHeader{
  font-family: 'Kaushan Script', cursive;
  font-size: 100px;
}

.gtForm{
  input { text-align: center; width: 60vw !important; display: inline-block !important;}
  button { width: 60vw }
}


@media screen and (max-width: 730px) {
  .formHeader{
    font-size: 10vw;
  }
}
