@import "../variables.scss";

#sidebar{
  width: 300px;
  height: 100vh;
  position: fixed;
  background: $bg-grey;
  text-align: center;
  font-family: "Quicksand", Arial, sans-serif;

  .dp{
    width: 70%;
    border-radius: 200px;
    margin: 40px auto 0px auto;
  }

  h1 {
    font-family: "Playfair Display",Georgia, serif;
    margin-top: 20px;
    font-weight: 600;
    color: grey;
  }

  ul{ list-style: none; padding: 0; }

  .nav-items{
    width: inherit;
    text-transform: uppercase;
    margin-top: 40px;

    li{
      margin-top: 10px;
      font-size: 15px;

      .nav-link{
        padding: 0;
      }
    }
  }

  .sm-icons{
    margin: 50px 0px auto 50px;
    display: flex;
    text-align: center;

    li{
      margin-left: 10px;
      font-size: 23px;
    }
  }

    a{
      color: grey;

      &:hover{
        color: black;
      }
    }
    a[href="#contact"]:hover{
      text-decoration: none;
    }
    .active{
      font-weight: 500;
      font-size: 18px !important;

      a{
        color: black !important;
      }
    }
}

@media only screen and(max-width: 680px){
  #sidebar{
    display: none;
  }
}
