@import "../variables.scss";

.sidebar{
  width: 300px;
  height: 100vh;
  position: fixed;
  background: $bg-grey;
  text-align: center;
  font-family: "Quicksand", Arial, sans-serif;

  .dp{
    width: 70%;
    border-radius: 200px;
    margin-top: 80px;
  }

  h1 {
    font-family: "Playfair Display",
    Georgia, serif;
    margin-top: 20px;
    font-weight: 600;
    color: grey;
  }

  ul{ list-style: none; padding: 0; }

  .nav-items{
    text-transform: uppercase;
    margin-top: 40px;

    li{
      margin-top: 10px;
      font-size: 15px;
    }
  }

  .sm-icons{
    margin-top: 50px;
    margin-left: 46px;
    display: flex;
    text-align: center;

    li{
      margin-left: 10px;
      font-size: 23px;
    }
  }

    a{
      color: grey;

      &:hover{
        color: black;
      }
    }
    a[href="#contact"]:hover{
      text-decoration: none;
    }
}
