.main{
  margin-left: 300px;

  .slick-dots{
    width: auto;
    bottom: 0;
  }

  .arrow-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;

    &:hover{
      cursor: pointer;
    }
  }

  .display{
    display: block !important;
  }
}


@media only screen and(max-width: 680px){
  .main{
    margin-left: 0px !important;
  }
}
@media only screen and(max-height: 680px){
  .main{
    margin-left: 0px !important;
  }
}
