.main{
  margin-left: 300px;

  .slick-dots{
    width: auto;
    bottom: 0;
  }

  .arrow-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;

    &:hover{
      cursor: pointer;
    }
  }

  .live-icon{
    position: fixed;
    top: 40%;
    right: -200px;
    width: 150px;
    text-align: inherit !important;
    transition: ease all 1s;
    transform: translateX(0);

    a{
      color: white;

      &:hover{
        text-decoration: none;
      }
    }

    &:hover{
      cursor: pointer;
      // right: -1px !important;
      transform: translateX(-90px);
    }
  }

  .display{
    display: block !important;
  }
}


@media (max-width: 680px){
  .main{
    margin-left: 0px !important;
  }
}
@media (max-height: 680px){
  .main{
    margin-left: 0px !important;
  }
}
