.cal-main{
  height: 100vh;
  width: 100vw;
  background: #00BEC7;
  padding-top: 100px;

  .header-text{
	  margin: auto;
	  text-align: center;
  }

  .container{
    max-width: 70vw;
    min-width: 300px;
    margin: auto;
    height: 500px;

    #display{
      background: white;
      color: grey;
      height: 80px;
      font-weight: 400;
      font-size: 4rem;
      padding-left: 20px;
      border-radius: 5px 5px 0 0;
    }

    #grid-container{
      display: grid;
      grid-template-columns: auto auto auto;

      button {
        -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
      	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
      	box-shadow:inset 0px -3px 7px 0px #29bbff;
      	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
      	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
      	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
      	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
      	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
      	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
      	background-color:#2dabf9;
      	-moz-border-radius:2px;
      	-webkit-border-radius:2px;
      	border-radius:2px;
      	border:1px solid #0b0e07;
      	display:inline-block;
      	cursor:pointer;
      	color:#ffffff;
      	font-family:Arial;
      	font-size:35px;
      	padding:9px 23px;
      	text-decoration:none;
      	text-shadow:0px 1px 0px #263666;
        height: 70px;

        &:hover {
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
        	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
        	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
        	background-color:#0688fa;
          }
        &#equals{
          -moz-box-shadow:inset 0px -3px 7px 0px #ff2b60;
        	-webkit-box-shadow:inset 0px -3px 7px 0px #ff2b60;
        	box-shadow:inset 0px -3px 7px 0px #ff2b60;
        	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f72e49), color-stop(1, #fa087d));
        	background:-moz-linear-gradient(top, #f72e49 5%, #fa087d 100%);
        	background:-webkit-linear-gradient(top, #f72e49 5%, #fa087d 100%);
        	background:-o-linear-gradient(top, #f72e49 5%, #fa087d 100%);
        	background:-ms-linear-gradient(top, #f72e49 5%, #fa087d 100%);
        	background:linear-gradient(to bottom, #f72e49 5%, #fa087d 100%);
          grid-column: 2/4;

          &:hover{
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa087d), color-stop(1, #f72e49));
          	background:-moz-linear-gradient(top, #fa087d 5%, #f72e49 100%);
          	background:-webkit-linear-gradient(top, #fa087d 5%, #f72e49 100%);
          	background:-o-linear-gradient(top, #fa087d 5%, #f72e49 100%);
          	background:-ms-linear-gradient(top, #fa087d 5%, #f72e49 100%);
          	background:linear-gradient(to bottom, #fa087d 5%, #f72e49 100%);
          	background-color:#fa087d;
          }
          }
        }
      }
    }
  }

  @media (max-width: 680px){
	.cal-main{
		.container{
			max-width: 90vw;
		}
	}
  }

  @media (max-height: 680px){
	.cal-main{
		height: 100%;
		padding-bottom: 30px;
	}
  }