#nav{
  display: none;

  .nav-link{
    color: white;

    &:hover{
      color: lightblue;
      text-decoration: underline;
    }
  }
}

@media only screen and(max-width: 680px){
  #nav{
    display: block;
    text-align: center;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
@media only screen and(max-height: 680px){
  #nav{
    display: block;
    text-align: center;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
