@import "../variables.scss";

#home{

  .particles-js{
    background: $bg-grey;
    height: 100vh;
  }

  .scroll{
    position: absolute;
    text-align: center;
    bottom: 1px;
    z-index: 1;
    left: 50%;
    margin-left: 120px;
    color: black;
    animation: 2s infinite alternate scrollAnim;

    &:hover{
      text-decoration: none;
      cursor: pointer;
    }

    p{ font-size: 20px; }
  }
}

@keyframes scrollAnim{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-10px);
  }
}

.particles{
  background: $bg-grey;
  height: 30vh;
}

@media (max-width: 680px){
  #home{
    .particles-js{
      height: 85vh;
    }

    .scroll{
      margin-left: -50px;
    }
  }
}
@media (max-height: 900px){
  #home{
    .particles-js{
      height: 95vh;
    }

    .scroll{
      margin-left: -50px;
    }
  }
}
